// ===============================================
// ============= TBENCH Components   =============
// ===============================================
// Tbench files
-y ../tbench_files

// CXDT
-y ${ARM_IP_DIR}/logical/cxdt/verilog
+incdir+${ARM_IP_DIR}/logical/cxdt/verilog

// PAD lib
//-v /home/kkoul/gate_level_199/iocells.v
