// ===============================================
// ========== Garnet                    ==========
// ===============================================
-y /cad/cadence/GENUS_19.10.000_lnx86/share/synth/lib/chipware/sim/verilog/CW/
