// ===============================================
// ========== Garnet                    ==========
// ===============================================
-y /cad/cadence/GENUS_19.10.000_lnx86/share/synth/lib/chipware/sim/verilog/CW/
-y /cad/cadence/GENUS_19.10.000_lnx86/share/synth/lib/chipware/sim/verilog/CWTECH/

-v /sim/pohan/zircon/Memory_Behavior_Models_for_GL/RFRAM_1024x64b.sv
-v /sim/pohan/zircon/Memory_Behavior_Models_for_GL/RFRAM_2048x8b.sv
-v /sim/pohan/zircon/Memory_Behavior_Models_for_GL/RFRAM_32x128b.sv
-v /sim/pohan/zircon/Memory_Behavior_Models_for_GL/SRAM_1024x64b.sv
-v /sim/pohan/zircon/Memory_Behavior_Models_for_GL/SRAM_4096x64b.sv
-v /sim/pohan/zircon/Memory_Behavior_Models_for_GL/SRAM_512x32b.sv
-v /sim/pohan/zircon/Memory_Behavior_Models_for_GL/SRAM_8192x32b.sv
