// ===============================================
// ========== Garnet                    ==========
// ===============================================
-v ../inputs/design.v
-y /cad/synopsys/dc_shell/J-2014.09-SP3/dw/sim_ver
